body {
    background-color: #075174;
    margin: 0;
    padding: 0;
}

.piano {
    display: flex;
    justify-content: center;
    align-items: top;
    height: 70vh;
    background-color: #075174;
}

.white {
    width: 100px;
    height: 400px;
    background-color: white;
    border: 1px solid black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.black {
    width: 60px;
    height: 240px;
    background-color: black;
    position: relative;
    left: -30px;
    z-index: 1;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.D,
.E,
.G,
.A,
.B {
    margin-left: -60px;
}

h1
{
    color: white;
    text-align: center;
    margin: 30px;
    font-size: xx-large
}
h4{
    color: white;
    text-align: center;
    margin: 10px;
    font-size: larger;
}
footer {
    text-align: top;
    color: white;
    text-align: center;
    margin: 0;
}